<div class="social-wrapper">
    <div class="social-card">
        <a href="https://github.com/konainemustafa" target="_blank" class="social-item">
            <i class="fab fa-github"></i>
            <span>GitHub</span>
        </a>
        <a href="https://wa.me/923372117186" target="_blank" class="social-item">
            <i class="fab fa-whatsapp"></i>
            <span>+92 3372117186</span>
        </a>
        <a href="https://linkedin.com/in/" target="_blank" class="social-item">
            <i class="fab fa-linkedin"></i>
            <span>LinkedIn</span>
        </a>
        <a href="https://instagram.com/mustafakonain" target="_blank" class="social-item">
            <i class="fab fa-instagram"></i>
            <span>@mustafakonain</span>
        </a>
    </div>
</div>